{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href=" {% static 'css/base_.css' %}">
</head>
<body>
    <div id="nav">
        <div id="heading">
            <img src="{% static 'images/logo.jpg'%}" alt="">
            <h1>mohith Coding School</h1>
        </div>
        <ul>
                <a href="{% url 'learnapp:home' %}">Home</a>
                <a href="{% url 'learnapp:courses' %}">Courses</a>
                <a href="{% url 'learnapp:bootcamp' %}">Bootcamp</a>
    
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        <div id="details">
            <div id="col1" class="col">
                <p>Lets Connect our social media</p>
            </div>
            <div id="col2" class="col">
                <h1>Company</h1>
                <p>
                    Aboutus <br>
                    Support <br>
                    Privacy Policy <br>
                    Terms and Condition <br>
                    Pricing and Refund <br>
                    Hire from us
                </p>
            </div>
            <div id="col3" class="col">
                <h1>Community</h1>
                <p>
                    Inertia <br>
                    Discord
                </p>
            </div>
            <div id="col4" class="col">
                <h1>GetinTouch</h1>
                <p>
                    +91 123456789 <br>
                    hello@gmail.com <br>
                </p>
            </div>
        </div>
        <div id="copyright">
            Copyright 2024 mohith pvt.Ltd <br>All Rights Reserverd <br> <br> <br>
        </div>
    </div>

</body>
</html>